body{  
	background-color: #000;
	color: #fff;
}
.str,.atv{
	color:#f8f
}
.kwd,.tag{
	color:#ff8
}
.com{
	color:#8ff
}
.typ,.atn,.dec{
	color:#afa
}
.lit{
	color:#faa
}
.pun{
	color:#aaf
}
.pln{
	color:#fff
}
pre.prettyprint{
	padding:2px;border:1px solid #888
}
@media print{
	.str{
		color:#faf
	}
	.kwd,.tag{
		color:#ffa;font-weight:bold
	}
	.com{
		color:#aff;font-style:italic
	}
	.typ{
		font-weight:bold
	}
	.lit{
		color:#fcc
	}
	.pun{
		color:#ccf
	}
	.atn,.typ{
		color:#cfc
	}
	.atv{
		color:#faf
	}
}