.str,.atv{
	color:#080
}
.kwd,.tag{
	color:#008
}
.com{
	color:#800
}
.typ,.atn,.dec{
	color:#606
}
.lit{
	color:#066
}
.pun{
	color:#660
}
.pln{
	color:#000
}
pre.prettyprint{
	padding:2px;border:1px solid #888
}
@media print{
	.str{
		color:#060
	}
	.kwd,.tag{
		color:#006;font-weight:bold
	}
	.com{
		color:#600;font-style:italic
	}
	.typ{
		font-weight:bold
	}
	.lit{
		color:#044
	}
	.pun{
		color:#440
	}
	.atn,.typ{
		color:#404
	}
	.atv{
		color:#060
	}
}